{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

{% include 'include/header.html' %}
    <!-- Slider -->
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            {% for banner in banner %}
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="{% static 'img/merrigarden/banner/1.jpg' %}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1 bg-main-with-transparent">
                                <h4>{{banner.title|truncatewords:10}}</h4>
                                <h1>{{banner.text|truncatewords:10}}</h1>
                                <h4>{{banner.price}}$</h4>
                                <div class="butn-light mt-30 mb-30"> <a href="#"
                                        data-scroll-nav="1"><span>Подробнее</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- slider reservation -->
        <div class="reservation">
            <a href="tel:{{footer.phone}}">
                <div class="icon d-flex justify-content-center align-items-center">
                    <i class="flaticon-call"></i>
                </div>
                <div class="call"><span>{{footer.phone}}</span> <br>забронировать</div>
            </a>
        </div>
    </header>
<section class="rooms1 section-padding bg-cream" data-scroll-index="1">
    <div class="container">
        <div class="row">
             {% for news_item in news %}
            <div class="col-md-4">
                <div class="item br-20">
                    <div class="position-re o-hidden"><img src="{{news_item.img.url}}" alt="Merry Garden"></div>
                    <div class="con">
                        <h5><a href=" {% url 'news_detail' news_item.id %} ">{{news_item.title}}</a></h5>
                        <div class="line"></div>
                        <div class="row facilities">
                            <div class="col col-md-5 text-end">
                                <div class="permalink">
                                    <a href=" {% url 'news_detail' news_item.id %} ">
                                        Подробнее <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
    </div>
</section>
    <!-- Promo Video -->
<section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="3"
    data-background="{% static 'img/merrigarden/banner/1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="section-subtitle"><span>{{banner.title}}</span></div>
                <div class="section-title"><span>Видео о {{banner.title_for_video}}</span></div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <a class="vid" href="{{about.video.url}}">
                    <div class="vid-butn">
                        <span class="icon">
                            <i class="ti-control-play"></i>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{% include 'include/footer.html' %} 
    

{% endblock %}