{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

{% include 'include/header.html' %}
    <!-- Slider -->
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            {% for banner in banner %}
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="{% static 'img/merrigarden/banner/1.jpg' %}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1 bg-main-with-transparent">
                                <h4>{{banner.title|truncatewords:10}}</h4>
                                <h1>{{banner.text|truncatewords:10}}</h1>
                                <h4>{{banner.price}}$</h4>
                                <div class="butn-light mt-30 mb-30"> <a href="#"
                                        data-scroll-nav="1"><span>Подробнее</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- slider reservation -->
        <div class="reservation">
            <a href="tel:{{footer.phone}}">
                <div class="icon d-flex justify-content-center align-items-center">
                    <i class="flaticon-call"></i>
                </div>
                <div class="call"><span>{{footer.phone}}</span> <br>забронировать</div>
            </a>
        </div>
    </header>
        
    <!-- Facilties -->
    <section class="facilties pt-60">
        <div class="container">
            {%for facilities in facilities%}
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle"></div>
                    <div class="section-title">Услуги</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-facility animate-box br-20" data-animate-effect="fadeInUp">
                        <span class="flaticon-world"></span>
                        <h5>{{facilties.title}}</h5>
                        <p>{{facilities.description}}</p>
                        <div class="facility-shape"> <span class="flaticon-world"></span> </div>
                    </div>
                </div>
            {%endfor%}
    </section>
    <!-- Services -->
    <section class="services">
        <div class="container">
            {% for service in services%}
            <div class="row">
                <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left brl-20">
                        <a href="#"><img src="{{banner.image.url}}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box brr-20" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            <h4>{{service.title}}</h4>
                            <p>{{service.descriptions}}</p>
                            <div class="butn-dark br-20"> <a href="#testimonials"><span>Заказать услугу</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </section>
    <!-- Promo Video -->
<section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="3"
    data-background="{% static 'img/merrigarden/banner/1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="section-subtitle"><span>{{banner.title}}</span></div>
                <div class="section-title"><span>Видео о {{banner.title_for_video}}</span></div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <a class="vid" href="{{about.video.url}}">
                    <div class="vid-butn">
                        <span class="icon">
                            <i class="ti-control-play"></i>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{% include 'include/footer.html' %} 
    

{% endblock %}