{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

{% include 'include/header.html' %}
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'img/merrigarden/banner/1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left caption mt-90">
                    <h5><a href="news.html">Новости<h5>
                    <h1>{{news.title}}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Post -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <img src="{{news.img.url}}" class="mb-30" alt="">
                    <h2>{{news.title}}</h2>
                    <p>{{news.description}}</p>
                    <blockquote>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="img/merrigarden/news/2.jpg" class="mb-30" alt="">
                        </div>
                        <div class="col-md-6">
                            <img src="img/merrigarden/news/4.jpg" class="mb-30" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
{% include 'include/footer.html'%}
{%endblock%}