{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

{% include 'include/header.html' %}
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'img/merrigarden/banner/1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left caption mt-90">
                    <h5><a href="news.html">Новости<h5>
                    <h1>{{news.title}}</h1>
                </div>
            </div>
        </div>
    </div>

<!-- Post -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <img src="{{news_item.img.url}}" class="mb-30" alt="">
                <h2>{{news_item.title}}</h2>
                <p>{{news_item.description}}</p>
                <blockquote>
                    <p>{{news_item.description|truncatewords:50}}</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
    <!-- Footer -->
{% include 'include/footer.html'%}
{%endblock%}